<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/52efd0bc50.js" crossorigin="anonymous"></script>
    <script src="/static/scripts/jquery-3.2.1.min.js?{{cache_id}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fontfaceobserver/2.1.0/fontfaceobserver.standalone.js"></script>
    <link rel="preload" href="/static/fonts/Bookerly.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/home.css?{{cache_id}}"/>
    <script src="/static/scripts/home.js?{{cache_id}}"></script>
    <link rel="icon" type="text/css" href="/static/assets/images/p-icon.png{{cache_id}}">
    {% block head %}
    {% endblock %}
    <style>
        /* Your CSS here */
        a {
            text-decoration: none;
            color: initial;
        }
    </style>
</head>
<body>
    <script>
        var bookerly = new FontFaceObserver('Bookerly');
        bookerly.load().then(function() {
            document.documentElement.classList.add('bookerly-loaded');
        });
    </script>

    <div class="wrapper">
        <div class="header-wrapper">
            <div class="header-top">
                <div class="header-top-right">
                {% if user %}
                    <i class="fa-regular fa-user" style="font-size: 18px;"></i>
                    <div class="htr-dropdown">
                        <span id="ht-signin-text" width="auto" style="margin-right: 14px;">Hi, {{user.username}}</span>
                        <div class="dropdown-content">
                            <div class="tail"></div>
                            <h3>My Account</h3>
                            <a href="/za/member/profile">Profile</a>
                            <a href="/za/orders">Orders</a>
                            <a href="/za/favourites">Favorites</a>
                            <a href="/za/member/inbox">Inbox</a>
                            <a href="/za/experiences">Experiences</a>
                            <a href="/za/member/settings">Account settings</a>
                            <a id="logout-btn" style="cursor: pointer">Logout</a>
                        </div>
                    </div>
                     <a href="/help" class="text-link"><span>Help &nbsp;| &nbsp;</span></a>
                    {% if user.type == "seller" %}
                    <a href="/sell" class="text-link"><span >Sell on Zulwin &nbsp; | &nbsp;</span></a>
                    {% else %}
                    <a href="/about/sell" class="text-link"><span>Sell on Zulwin &nbsp; | &nbsp;</span></a>
                    {% endif %}
                {% else %}
                    <span id="ht-signin-text"><a href="/register">Signin</a></span>
                     <a href="/membership" class="text-link"><span>Join us | &nbsp;</span></a>
                     <span>Help &nbsp;| &nbsp;</span>
                     <a href="/about/sell" class="text-link"><span >Sell on Zulwin &nbsp; | &nbsp;</span></a>
                {% endif %}
                </div>
                <div class="header-top-left">
                    <a href="/home"><div class="header-top-left-1"></div></a>
                    <div class="header-top-left-2"></div>
                    <div class="header-top-left-3"></div>
                </div>

            </div>
            <div class="header-bottom">
                <div class="cart-fav-icons">
                    <span class="badge" id="cart-count">0</span>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $.ajax({
                                url: "http://localhost:5000/t/get_cart",
                                type: "GET",
                                success: function (data) {
                                    $('#cart-count').text(data.cart_count);
                                }
                            })
                        })
                    </script>
                    <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>&nbsp;
                    <a href="/favorites"><i class="fa-regular fa-heart"></i></a>
                </div>
                <div class="search-btn">
                    <div class="search-btn-circle">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <span id="search-btn-text">Search</span>
                </div>
                <div class="header-categories">
                        <span class="hc-new" data-layout="hc-layout1">New</span>
                
                        <span class="hc-elec" data-layout="hc-layout2">Electronics</span>
                    
                        <span class="hc-cloth" data-layout="hc-layout3">Clothes</span>
                    
                        <span class="hc-kitch" data-layout="hc-layout4">Kitchen</span>
                    
                        <span class="hc-oth" data-layout="hc-layout5">Others</span>
                </div>
                <div class="icon-container">
                    <img src="/static/assets/images/p-icon.png">
                </div>
            </div>
        </div>
        <div class="hc-container"  style="z-index: 10;">
            <div class="hc-layout1" id="hc-con-new">
                <div class="hc-con">
                    <h3>Limited time</h3>
                    <a>Extra 25% discount offer</a>
                    <h3>New</h3>
                    <a>New Arrivals</a>
                    <a>Best Sellers</a>
                    <a>Shop Gifts</a>
                    <a>Latest Drops</a>
                </div>
                <div class="hc-con">
                    <h3>Trending</h3>
                    <a></a>
                </div>
                <div class="hc-con">
                    <h3>University</h3>
                    <a>Kenyatta University</a>
                    <a>Nairobi University</a>
                    <a>JKUAT</a>
                    <a>TUK</a>
                </div>
                <div class="hc-con">
                    <h3>Explore</h3>
                    <a>Large discount finder</a>
                    <a>TV finder</a>
                    <a>Shoe finder</a>
                    <a>Product Care</a>
                    <a>Member Rewards</a>
                    <a>Buying Guides</a>
                </div>
            </div>

            <div class="hc-layout2">
                <div class="hc-con">
                    <h3>Limited time</h3>
                    <a>Extra 25% discount offer</a>
                    <h3>New</h3>
                    <a>New Arrivals</a>
                    <a>Best Sellers</a>
                    <a>Shop Gifts</a>
                    <a>Latest Drops</a>
                    <h3>Collections</h3>
                 </div>
                <div class="hc-con">
                    <h3>Phones</h3>
                    <a>All Phones</a>
                    <a>Samsung Galaxy</a>
                    <a>Tecno Camon x pro</a>
                    <a>Iphones</a>
                    <a>Huawei</a>
                    <a>Xiamo Mi 11</a>
                    <a>Asus ROG phone 5</a>
                    <a>vivo X60 Pro+ </a>
                    <a>Infinix</a>
                    <a>Nokia 3310</a>
                    <a>Pixel 5</a>
                    <h3>Camera & Photo</h3>
                    <a>Instant print Camera</a>
                    <a>Monocular Camera</a>

                </div>
                <div class="hc-con">
                    <h3>Laptops & Computes</h3>
                    <a>HP Pavilion x360</a>
                    <a>HP EliteBook 820 G1</a>
                    <a>HP 15-bs098nia</a>
                    <a>Dell Inspiron 15</a>
                    <a>Dell Latitude 5420</a>
                    <a>Dell XPS 13</a>
                    <a>Lenovo ThinkPad X1 Carbon</a>
                    <a>Lenovo Yoga C740 </a>
                    <a>Lenovo ThinkPad T14></a>
                    <a>MacBook Air</a>
                    <a>MacBook Pro 13-inch</a>
                    <a>Asus Chromebook Flip C302 </a>
                    <a>Asus VivoBook 15</a>
                    <a>Acer Chromebook Spin 13</a>

                </div>
                <div class="hc-con">
                    <h3>Home Audio</h3>
                    <a>Samsung HW-Q90R</a>
                    <a>Sony HT-Z9F</a>
                    <a>LG SN11RG</a>
                    <a>VON HA14630BT/VES1462ES 2.1 Subwoofer</a>
                    <a>Samsung 4K TV</a>
                    <a>TCL Smart TV</a>
                    <a>Hisense</a>
                    <h3>Accessories</h3>
                    <a>Laptop Charger</a>
                    <a>Screen Protector</a>
                    <a>Laptop Battery</a>
                    <a>Earpods/Headphones</a>
                </div>

            </div>
            <div class="hc-layout3">
                <div class="hc-con">
                    <h3>Limited time</h3>
                    <a>Extra 25% discount offer</a>
                    <h3>New</h3>
                    <a>New Arrivals</a>
                    <a>Best Sellers</a>
                    <a>Shop Gifts</a>
                    <a>Latest Drops</a>
                    <h3>Collections</h3>
                </div>
                <div class="hc-con">
                    <h3>Men</h3>
                    <h4>Shoes</h4>
                    <a>Lifestyle</a>
                    <a>Airforce</a>
                    <a>Loafers/Official shoes</a>
                    <a>Sneakers</a>
                    <h4>Others</h4>
                    <a>Pants</a>
                    <a>Tops & Tshirts</a>
                    <a>Hoodies & sweatshirts</a>
                    <a>Shorts</a>
                </div>
                <div class="hc-con">
                    <h3>Women</h3>
                    <h4>Shoes</h4>
                    <a>Lifestyle</a>
                    <a>Airforce</a>
                    <a>Loafers/Official shoes</a>
                    <a>Sneakers</a>
                    <h4>Others</h4>
                    <a>Pants</a>
                    <a>Tops & Tshirts</a>
                    <a>Hoodies & sweatshirts</a>
                    <a>Skirts & dresses</a>
                </div>
                <div class="hc-con">
                    <h3>Shop by Sports</h3>
                    <a>Soccer</a>
                    <a>Basketball</a>
                    <a>Rugby</a>
                    <a>Swimming</a>
                    <a>Fitness</a>
                    <a>Trail running</a>
                    <a>Volleyball</a>
                    <h3>Accessories</h3>
                    <a>Bags & Backpacks</a>
                    <a>Hats & Headwear</a>
                    <a>Socks</a>
                    <a>Sandals</a>
                </div>
            </div>
            <div class="hc-layout4">
                <div class="hc-con">
                    <h3>Limited time</h3>
                    <a>Extra 25% discount offer</a>
                    <h3>New</h3>
                    <a>New Arrivals</a>
                    <a>Best Sellers</a>
                    <a>Shop Gifts</a>
                    <a>Latest Drops</a>
                    <h3>Collections</h3>
                </div>
                <div class="hc-con">
                    <h3>Electronics</h3>
                    <a>Blenders</a>
                    <a>Electric Kettles</a>
                    <a>Microwaves</a>
                    <a>Gas Cookers</a>
                    <a>Direct Cool Fridges</a>
                    <a>Toasters</a>
                    <a>Food Processors</a>
                </div>
                <div class="hc-con">
                    <h3>Cutlery</h3>
                    <a>Choppers</a>
                    <a>Bowls</a>
                    <a>Steel Pots</a>
                    <a>Sufurias</a>
                    <a>cutlery & Spoons</a>
                    <a>Cups & jugs</a>
                    <a>wooden boards</a>
                    <a>Bottles</a>
                </div>
                <div class="hc-con">
                    <h3>Furniture</h3>
                    <a>Dining Tables</a>
                    <a>Tv Stands</a>
                    <a>Shoe shelf</a>
                    <a>Beds</a>
                    <a>Sofas & couches</a>
                    <a>Simple chairs</a>
                    <a>Wardrobes</a>
                    <a>Mattresses</a>
                    <a>Desks</a>
                    <a>Umbrella</a>
                    <a>Tables</a>
                </div>
            </div>
            <div class="hc-layout5">
                <div class="hc-con">
                </div>
                <div class="hc-con">
                </div>
                <div class="hc-con">
                </div>
            </div>
        </div>
        <div class="main-search-container">
            <div class="ms-container-left">
                <div class="mscl-top">
                    <img src="/static/assets/images/p-icon.png" class="msc-icon" />
                </div>
                <div class="mscl-btm">
                    
                </div>
            </div>
            <div class="ms-container-right">
                <div class="msc-search-bar-con">
                    <div id="ms-c-mg">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <input id="main-search-btn" placeholder="Search">
                    </input>
                    <span id="ms-search-x">Cancel</span>
                </div>
                <div class="msc-bottom">
                    <div class="msc-btm-top">
                        <h2 class="msc-btm-title">Popular Search  Terms</h2>
                        <div class="popular-search-con">
                            <div class="psc-items">
                                <div class="pop-i-con">Sneakers</div>
                                <div class="pop-i-con">Mens Jacket</div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            const apiUrl = "http://localhost:5001/api/v1/items";
                            
                            $('#main-search-btn').on('input', function () {
                                const query = $(this).val().toLowerCase();

                                if (query) {
                                    $.ajax({
                                        url: apiUrl,
                                        type: "GET",
                                        success: function (data) {
                                            const results = data.filter(item => item.name.toLowerCase().includes(query)).slice(0, 5);
                                            displayResults(results);
                                        },
                                        error: function (xhr, status, error) {
                                            console.error("Error fetching items: ", error);
                                        }
                                    });
                                } else {
                                    restoreOriginalItems();
                                }
                            });

                            function displayResults(items) {
                                const container = $('.msc-bottom');
                                container.empty();
                                if (items.length > 0) {
                                    items.forEach(item => {
                                        const itemCard = $('<div class="item-card-search"></div>');
                                        const imageDiv = $('<div class="item-c-image-search"></div>');
                                        const img = $('<img class="item-c-image-pc-search">').attr('src', `/static/assets/public/${item.image}`).attr('alt', item.name);
                                        imageDiv.append(img);

                                        const detailsDiv = $('<div class="item-c-details-search"></div>');
                                        const nameParts = item.name.split(' ').slice(0, 5).join(' ');
                                        
                                        const nameSpan = $('<span class="item-c-image-name" style="font-weight: bold;"></span>').text(nameParts);
                                        const priceSpan = $('<span class="item-c-image-price" style="font-weight: bold;"></span>').text(`ksh ` + item.price);
                                        detailsDiv.append(nameSpan);
                                        detailsDiv.append(priceSpan);
                                        itemCard.append(imageDiv);
                                        itemCard.append(detailsDiv);
                                        itemCard.click(function () {
                                            window.location.href = `http://localhost:5000/t/item/${item.id}`;
                                        });
                                        container.append(itemCard);
                                    });
                                }
                            }
                        })
                    </script>
                </div>
            </div>
            <!--div for top results-->
        </div>
        <div class="item-wrapper-top">
        </div>
        {% block body %}
        <!--div class="main-advert-container">
        </div-->
        {% endblock %}
        <!--div class="header-reminders">
            <div class="hr-logo">
            </div>
            <div class="hr-main">
                <span>Sell on Zulwin</span>
                <span>Help</span>
                <span>Join Us</span>
                <span>Sign In</span>
            </div>
        </div>
        <div class="footer-featured">
            <div>
                <h3>Featured</h3>
            </div>
            <div>
                <h3>Electronics</h3>
            </div>
            <div>
                <h3>Clothing</h3>
            </div>
            <div>

                <h3>Kitchen</h3>
            </div>
        </div-->
        <div class="main-footer">
            <div class="mf-divs">
                <span class="mf-header">Resources</span>
                <a>Gift Cards</a>
                <a>Sell on Zulwin</a>
                <a></a>
            </div>
            <div class="mf-divs">
                <span class="mf-header">Help</span>
                <a>Your Account</a>
                <a>Your Orders</a>
                <a>Manage Your<br>Content and Devices</a>
                <a>Get Help</a>
                <a>Contact Us</a>
            </div>
            <div class="mf-divs">
                <span class="mf-header">Company</span>
                <a>About Zulwin</a>
                <a>Blog</a>
                <a>Investor Relations</a>
                <a>Careers</a>
                <a>Purpose</a>
                <a>Sustainability</a>
            </div>
            <div class="mf-divs">
                <span class="mf-header">Make Money With Us</span>
                <a>Sell on Zulwin</a>
                <a>Become an Affiliate</a>
                <a>Sell Apps on Zulwin</a>
                <a>Advertise Your products</a>
            </div>
            <div class="mf-divs" id="mf-divs-last">
                <a class="mf-header"><i class="fa-solid fa-globe"></i> Kenya</a>
            </div>
        </div>
        <footer>
            <span>@ 2024 Zulwin, Inc. All Rights Reserved</span>
            <i class="fa-brands fa-square-instagram"></i></span>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-x-twitter"></i>
        </footer>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            const getRandomColor = () => {
                const h = Math.floor(Math.random() * 360);
                return `hsl(${h}deg, 90%, 85%)`;
            };
            
            $(".header-top-left-1").css("background-color", getRandomColor());
            $(".header-top-left-2").css("background-color", getRandomColor());
            $(".header-top-left-3").css("background-color", getRandomColor());


            $("#seb-left").click(function () {
                $(".explore-prod-trending").animate({
                    scrollLeft: "-=251px"
                }, 400);

            });

            $("#seb-right").click(function () {
                console.log("ME");
                $(".explore-prod-trending").animate({
                    scrollLeft: "+=251px"
                }, 400);

            });

            $(".search-btn").on('click', function () {
                $(".main-search-container").addClass("active");
            });

             $("#ms-search-x").on('click', function () {
                console.log("hi");
                $(".main-search-container").removeClass("active");
            });

            $('.hc-container').on('mouseenter', function() {
                $(this).data('hover', true);
            });

            $(".hc-container").on("mouseleave", function () {
                $(this).data('hover', false);
                $(".hc-container").css("max-height", "0px");
            });

            $(".hc-new, .hc-elec, .hc-cloth, .hc-kitch, .hc-oth").on("mouseleave", function () {

                setTimeout(() => {
                    if (!$('.hc-container').data('hover') && !$(this).is(':hover')) {
                        $('.hc-container').css("max-height", "0px");
                    }
                }, 50);
            });

            $(".hc-new").on("mouseover", function  (event) {
                
                $(".hc-container").css("max-height", "20px");

                let layoutToShow = $(this).data('layout');

                $('.hc-container > div').removeClass('active');
                $('.' + layoutToShow).addClass('active');
                
                setTimeout(function () {
                    $(".hc-container").css("max-height", "300px");
                }, 500);
            });

            $(".hc-elec").on("mouseover", function (event) {

                $(".hc-container").css("max-height", "10px");

                let layoutToShow = $(this).data('layout');

                $('.hc-container > div').removeClass('active');
                $('.' + layoutToShow).addClass('active');
                

                setTimeout(function () {
                    $(".hc-container").css("max-height", "500px");
                }, 500);


            });

            $(".hc-cloth").on("mouseover", function (event) {

                $(".hc-container").css("max-height", "10px");

                let layoutToShow = $(this).data('layout');

                $('.hc-container > div').removeClass('active');
                $('.' + layoutToShow).addClass('active');

                
                setTimeout(function () {
                    $(".hc-container").css("max-height", "450px");
                }, 500);
            });

            $(".hc-kitch").on("mouseover", function (event) {

                $(".hc-container").css("max-height", "10px");

                let layoutToShow = $(this).data('layout');

                $('.hc-container > div').removeClass('active');
                $('.' + layoutToShow).addClass('active');

                
                setTimeout(function () {
                    $(".hc-container").css("max-height", "350px");
                }, 500);
            });

            $(".hc-oth").on("mouseover", function (event) {
               
               $(".hc-container").css("max-height", "10px");

                let layoutToShow = $(this).data('layout');

                $('.hc-container > div').removeClass('active');
                $('.' + layoutToShow).addClass('active');
                        
                setTimeout(function () {
                    $(".hc-container").css("max-height", "450px");
                }, 500);
            });



        });
    </script>
</body>
</html>
