{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/styles/item.css?{{cache_id}}">
{% endblock %}
{% block body %}

<div class="item-wrapper-t">
    <script type="text/javascript">
        window.addEventListener('load', function() {
        // Stop the animation after 30 seconds
            setTimeout(function() {
                document.getElementById('loadingDiv').style.animation = 'none';
                document.getElementById('loadingDiv').style.backgroundColor = '#f5f5f5';
            }, 30000);
        }); 
    </script>
</div>
<div class="item-wrapper-main">
        <div class="item-wrapper-main-top">
            <div class="item-wm-left">
                <div class="item-wm-image">
                    <img src="/static/assets/public/{{item.image}}?{{cache_id}}"></img>
                    <div class="vertical-left"></div><div class="vertical-right"></div>
                </div>
                <div class="item-change-btn-con">
                    <div class="item-change-btn" id="itc-1">
                        <img></img>
                    </div>
                    <div class="item-change-btn" id="itc-2">
                        <img src="">
                    </div>
                    <div class="item-change-btn" id="itc-3">
                        <img src="">
                    </div>
                    <div class="item-change-btn" id="itc-4">
                        <img src="">
                    </div>
                    <div class="item-change-btn" id="itc-5">
                        <img src="">
                    </div>
                </div>
            </div>
            <div class="item-wm-details">
                <h2>Product Details</h2>
                <div class="item-product-details">
                    <h3>Name</h3>                
                    <span>{{item.name}}</span>
                    <h3>Description</h3>
                    <div class="item-des">{{item.description}}</div>
                    <h3>Price</h3>
                    <span>{{item.price}}</span>
                </div>
                <h2>Seller Details</h2>
                <div class="seller-container">
                    <h3>Name</h3>
                    <span>{{seller.username}}</span>
                    <h3>Email</h3>
                    <span>{{seller.email}}</span>
                    <h3>Mobile Number</h3>
                    <span>{{seller.mobile_no}}</span>
                </div>
                <span id="item-id" data-id="{{ item.id }}" data-category="{{ item.category }}" style="display: none;"></span>
                <span id="seller-id" data-id="{{ seller.id }}" style="display: none;"></span>
                
                <button class="add-to-cart" style="cursor: pointer;">Add to Cart</button>
                <div class="add-to-fav">
                    <h4>Favorite<h4>
                    <i class="fa-regular fa-heart" id="atf-heart"></i>
                </div>
            </div>
            <script type="text/javascript">
                
            </script>
        </div>
    </div>
</div>
    <script type="text/javascript">
        $(document).ready(function () {
            const getRandomColor = () => {
                const h = Math.floor(Math.random() * 360);
                return `hsl(${h}deg, 90%, 85%)`;
            };
            $(".header-top-left-1").css("background-color", getRandomColor());
            $(".header-top-left-2").css("background-color", getRandomColor());
            $(".header-top-left-3").css("background-color", getRandomColor());

            $("#itc-1").css("background-color", getRandomColor());
            $("#itc-2").css("background-color", getRandomColor());
            $("#itc-3").css("background-color", getRandomColor());
            $("#itc-4").css("background-color", getRandomColor());
            $("#itc-5").css("background-color", getRandomColor());

            $(".add-to-cart").click(function () {
                let dct = {
                    "item_id": $('#item-id').data('id'),
                }

                $.ajax({
                    url: `http://localhost:5000/t/add_cart`,
                    type: "POST",
                    data: dct,
                    success: function (data) {
                      $('#cart-count').text(data.length);
                    }
                })
            });

            function fetchSellerItems () {
                let seller_id = $("#seller-id").data("id");
                let category = $("#item-id").data("category");
                let item_id = $("#item-id").data("id");

                $.ajax({
                    url: `http://localhost:5001/api/v1/user/items/${seller_id}`,
                    type: "GET",
                    success: function(data) {
                        let i = 1;
                        data.forEach((item, index) => {
                            if (item.category == category) {
                                if (item.id == item_id) {
                                    $("#itc-1 img").attr("src", `/static/assets/public/${item.image}`);
                                }

                                if (item.id != item_id) {
                                    if (i < 6) {
                                        $(`#itc-${i} img`).attr("src", `/static/assets/public/${item.image}`);
                                        i++;
                                    }
                                }
                            }
                        })
                    }
                })
            };

            fetchSellerItems();

            $("#seb-left").click(function () {
                $(".explore-prod-trending").animate({
                    scrollLeft: "-=251px"
                }, 400);

            });

            $("#seb-right").click(function () {
                console.log("ME");
                $(".explore-prod-trending").animate({
                    scrollLeft: "+=251px"
                }, 400);

            });

            $(".search-btn").on('click', function () {
                $(".main-search-container").addClass("active");
            });

             $("#ms-search-x").on('click', function () {
                console.log("hi");
                $(".main-search-container").removeClass("active");
            });

            $('.hc-container').on('mouseenter', function() {
                $(this).data('hover', true);
            });

            $(".hc-container").on("mouseleave", function () {
                $(this).data('hover', false);
                $(".hc-container").css("max-height", "0px");
            });

            $(".hc-new, .hc-elec, .hc-cloth, .hc-kitch, .hc-oth").on("mouseleave", function () {

                setTimeout(() => {
                    if (!$('.hc-container').data('hover') && !$(this).is(':hover')) {
                        $('.hc-container').css("max-height", "0px");
                    }
                }, 50);
            });

            $(".hc-new").on("mouseover", function  (event) {
                
                $(".hc-container").css("max-height", "20px");

                let layoutToShow = $(this).data('layout');

                $('.hc-container > div').removeClass('active');
                $('.' + layoutToShow).addClass('active');
                
                setTimeout(function () {
                    $(".hc-container").css("max-height", "300px");
                }, 500);
            });

            $(".hc-elec").on("mouseover", function (event) {

                $(".hc-container").css("max-height", "10px");

                let layoutToShow = $(this).data('layout');

                $('.hc-container > div').removeClass('active');
                $('.' + layoutToShow).addClass('active');
                

                setTimeout(function () {
                    $(".hc-container").css("max-height", "500px");
                }, 500);


            });

            $(".hc-cloth").on("mouseover", function (event) {

                $(".hc-container").css("max-height", "10px");

                let layoutToShow = $(this).data('layout');

                $('.hc-container > div').removeClass('active');
                $('.' + layoutToShow).addClass('active');

                
                setTimeout(function () {
                    $(".hc-container").css("max-height", "450px");
                }, 500);
            });

            $(".hc-kitch").on("mouseover", function (event) {

                $(".hc-container").css("max-height", "10px");

                let layoutToShow = $(this).data('layout');

                $('.hc-container > div').removeClass('active');
                $('.' + layoutToShow).addClass('active');

                
                setTimeout(function () {
                    $(".hc-container").css("max-height", "350px");
                }, 500);
            });

            $(".hc-oth").on("mouseover", function (event) {
               
               $(".hc-container").css("max-height", "10px");

                let layoutToShow = $(this).data('layout');

                $('.hc-container > div').removeClass('active');
                $('.' + layoutToShow).addClass('active');
                        
                setTimeout(function () {
                    $(".hc-container").css("max-height", "450px");
                }, 500);
            });
        });
    </script>
    {% endblock %}
</body>
</html>
