{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/styles/sell.css?{{cache_id}}" />

{% endblock %}
{% block body %}
<div class="main-sell-container">
	<div class="main-sell-top-adv">
	</div>
	<div class="main-sell-main">
		<div class="main-sell-main-left">
			<h3>Product Requirements</h3>
			<span>Product Name</span>
			<span>Product Category</span>
			<span>Product Description</span>
			<span>Product Expiry</span>
			<span>Product Price</span>
			<span>Product Location</span>
			<span>Product Seller_ID</span>
		</div>
		<div class="main-sell-main-right">

			<div class="category-question">What you selling this <strong id="cq-strong"></strong>?</div>
			<script>
				window.onload = function() {
					let days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
					let currentDay = new Date().getDay();
					document.getElementById('cq-strong').innerText = days[currentDay];

				}
			</script>
			<div class="msmr-ldiv" id="msmr-ldiv">
				<div class="msmr-ldiv-part1">
					<h3>Product Name</h3>
					<input id="msmr-f-pn"></input>
					<h3>Product Category</h3>
					<select id="msmr-f-pc">
						<option></option>
					</select>
					<h3>Description</h3>
					<textarea id="msmr-f-d"></textarea>
					<!--h3>Product Expiry</h3>
					<input type="" name="">
					<h3>Product Location</h3>
					<input type="" name="">
					<h3>Product Seller_ID</h3>
					<span>{{user.id}}</span-->
					<div class="msmr-form-nav-btns">
						<button class="msmr-fnb-right" id="msmr-fnb-right"><i class="fa-solid fa-caret-right"></i></button>
						<button class="msmr-fnb-left" id="msmr-fnb-left"><i class="fa-solid fa-caret-left"></i></button>
					</div>
				</div>
				<div class="msmr-ldiv-part2">
				</div>
				<div class="msmr-ldiv-part3">
				</div>
				<script type="text/javascript">
					$(document).ready(function () {
						$("#msmr-fnb-right").click(function () {
							console.log("me")
							$(".msmr-ldiv").animate({
								scrollRight: "+=449px"
							}, 400);
						})

						$("#msmr-fnb-left").click(function () {
							$(".msmr-ldiv").animate({
								scrollLeft: "-=449px"
							}, 400);
						})
					})
				</script>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function () {

			})
		</script>
	</div>
</div>
{% endblock %}