@font-face {
    font-family: 'Bookerly';
    src: url('/static/fonts/Bookerly.woff') format('woff'),
         url('/static/fonts/Bookerly.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*body {
    font-family: 'Bookerly', sans-serif;
}*/


body {
    overflow-x: hidden;
    font-family: sans-serif;
    margin: 0px;
}

.bookerly-loaded body {
    font-family: 'Bookerly', sans-serif;
}

.wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 13px;
    overflow-y: initial;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
}

.user-put-name {
    width: 130px;
    height: 100%;
}

.header-top {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 37px;
    font-size: 13px;
    font-weight: bold;
    box-sizing: border-box;
    padding-top: 10px;
    padding-right: 70px;
    background-color: #f5f5f5;
    transition: color 0.5s ease;
}

.header-top-right {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.header-top-right span {
    white-space: normal; /* Ensures text wraps within the span */
    overflow: hidden; /* Hides overflowing text */
    text-overflow: ellipsis; /* Adds an ellipsis (...) to the overflowed text */ 
    white-space: nowrap;
    word-wrap: break-word;
}

.header-top span:hover {
    cursor: pointer;
    color: #ff6347;
}

.htr-dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    flex-direction: column;
    gap: 6px;
    top: 100%;
    right: 0;
    background-color: white;
    min-width: 200px;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 5px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.dropdown-content h3 {
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.dropdown-content a {
    color: #808080;
}

.htr-dropdown:hover .dropdown-content {
    display: flex;
}

.text-link {
    display: inline-block;
}

.text-link span {
    display: inline;
}
.dropdown-content .tail {
    position: absolute;
    top: -10px;
    right: 20px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.header-bottom {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    width: 100%;
    height: 65px;
    padding-right: 70px;
    padding-top: 13px;
    box-sizing: border-box;
}

.fa-cart-shopping, .fa-heart {
    font-size: 27px;
    padding-top: 5px;
    padding-left: 25px;
}

.search-btn {
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 35px;
    cursor: text;
    outline: none;
    border: 1px solid grey;
    border-radius: 20px;
}

.search-btn-circle {
    text-align: center;
    width: 34px;
    height: 34px;
    padding-top: 7px;
    margin-right: 7px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid grey;
    border-radius: 50%;
}

.search-btn-circle:hover {
    cursor: pointer;
    background-color: lightgray;
}

.search-btn:hover {
    background-color: lightgray;
}

.search-btn span {
    margin-top: 8px;
    font-size: 17px;
    font-weight: bold;
}


.fa-magnifying-glass {
    font-size: 20px;
}

.header-categories {
    display: flex;
    flex-direction: row;
    gap: 35px;
    width: 650px;
    height: 30px;
    padding-top: 2px;
    padding-left: 120px;
    box-sizing: border-box;
    margin-right: 50px;
    margin-top: 10px;
}

.header-categories span {
    font-size: 17px;
    font-weight: bold;
}

.header-top-left {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 200px;
    margin-right: 600px;
    height: 20px;
}

.header-top-left div {
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    border-radius: 50%;
}

.hc-new, .hc-elec, .hc-cloth, .hc-kitch, .hc-oth {
    cursor: pointer;
    position: relative;
}

.hc-new::after, .hc-elec::after, .hc-oth::after, .hc-kitch::after, .hc-cloth::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 3px;
    bottom: -2px;
    left: -2px;
    visibility: hidden;
    background-color: black;
}

.hc-new:hover::after, .hc-elec:hover::after, .hc-oth:hover::after, .hc-kitch:hover::after, .hc-cloth:hover::after {
    visibility: visible;
    width: 105%;
}


.hc-container {
    overflow: hidden;
    position: absolute;
    top: 102px;
    width: 100%;
    max-height: 0px;
    transition: max-height 0.2s ease-out;
    background-color: white;
    padding-left: 200px;
    box-sizing: border-box;
}

.hc-layout1, .hc-layout2, .hc-layout3, .hc-layout4, .hc-layout5 {
    display: none;
    flex-direction: row;
    width: 800px;
    height: 400px;
}

.hc-layout1.active, .hc-layout2.active, .hc-layout3.active, .hc-layout4.active, .hc-layout5.active {
    display: flex;
}

.hc-con {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    padding-top: 30px;
    padding-left: 20px;
    box-sizing: border-box;
}

.hc-con a {
    color: #36454f;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 7px;
}

a:hover {
    color: initial;
}

.main-search-container {
    position: absolute;
    display: none;
    width: 50%;
    height: 400px;
    top: 46px;
    right: 0px;
    padding-top: 20px;
    padding-left: 300px;
    box-sizing: border-box;
    transition: top 30s ease, width 50s ease;
    background-color: lightpink;
}


.main-search-container.active {
    display: flex;
    top: 0px;
    width: 100%;
}

.ms-container {
    display: flex;
    position: relative;
    width: 98%;
    height: 36px;
}

#main-search-btn {
    width: 700px;
    height: 36px;
    font-size: 16px;
    font-weight: 600;
    padding-left: 38px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 20px;
    outline: none;
}

#ms-c-mg {
    position: absolute;
    text-align: center;
    padding-top: 7px;
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    font-size: initial;
    font-weight: 100;
    border: 1px solid grey;
    border-radius: 50%;
    left: 0px;
}

#ms-c-mg:hover {
    background-color: lightgray;
}  

#main-search-btn::placeholder {
    margin-top: 15px;
    font-size: 17px;
    font-weight: 600;
    color: #555555;
}

#ms-search-x {
    position: absolute;
    cursor: pointer;
    right: 10px;
    font-weight: 600;
    font-size: 17px;
    margin-top: 10px;
}

#ms-search-x:hover {
    color: grey;
}

.main-advert-container {
    width: 100%;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
}

.main-advert-container img {
    object-fit: fill;
    width: 100%;
    height: 400px;
}

.explore-products {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: auto;
    padding-left: 40px;
    box-sizing: border-box;
    gap: 5px;
}

.explore-prod-trending-btns {
    display: flex;
    flex-direction: row-reverse;
    width: 95%;
    height: 50px;
    gap: 20px;
}

.slide-e-btn {
    font-size: 25px;
    width: 45px;
    height: 45px;
    background-color: #f5f5f5;
    border: 1px solid grey;
    border-radius: 50%;
}

.explore-prod-trending {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 95%;
    height: 320px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 30px;
}

#seb-right {
    background-color: lightgray;
}

.explore-prod-trending::before,
.explore-prod-trending::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
}


.item-card {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    flex-shrink: 0;
    width: 250px;
    height: 300px;
    border: 1px solid grey;
}


.item-c-image {
    width: 100%;
    height: 80%;
    border-bottom: 1px solid grey;
}

.item-c-details {
    display: flex;
    width: 100%;
    height: 20%;
    flex-direction: column;
    padding-top: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    gap: 10px;
    flex-shrink: 0px;
    font-size: 15px;
}

.item-c-image-pc {
    width: 250px;
    height: 100%;
    object-fit: cover;
}

.explore-prod-trending:hover, .slide-e-btn:hover {
    overflow-x: auto;
}

.just-products {
    width: 95%;
    height: 900px;
    border: 1px solid grey;
    margin-bottom: 10px;
}

.footer-headers {
    width: 98%;
    padding-left: 470px;
    box-sizing: border-box;
    height: 170px;
}

.footer-headers h1 {
    font-size: 30px;
    letter-spacing: -1.5px;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 10px;
}

.footer-headers p {
    font-weight: 600;
    font-size: 18px;
    margin: 0px;
    margin-left: 20px;
}

.footer-headers button {
    width: 150px;
    height: 35px;
    border-radius: 15px;
    border: 1px solid grey;
    box-sizing: border-box;
    margin-left: 60px;
    margin-top: 30px;
    color: white;
    font-weight: bolder;
    background-color: black;
}

.header-reminders {
    width: 98%;
    height: 200px;
    border: 1px solid grey;
    box-sizing: border-box;
    padding-left: 450px;
    margin-bottom: 40px;
}

.hr-logo {
    width: 400px;
    height: 100px;
    margin-bottom: 30px;
}

.hr-main {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 400px;
    height: 30px;
}

.hr-main span {
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}

.hr-main span:hover {
    color: pink;
}

.footer-featured {
    display: flex;
    flex-direction: row;
    width: 98%;
    min-height: 300px;
    padding-left: 170px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.footer-featured div {
    width: 250px;
    height: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid grey;
}

.footer-featured h3 {
    font-weight: 500;
    font-size: 21px;
}

.main-footer {
    display: flex;
    flex-direction: row;
    width: 98;
    height: 300px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    padding-top: 60px;
    box-sizing: border-box;
    border-top: 1px solid lightgray;
}

.mf-divs {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    padding-left: 10px;
    box-sizing: border-box;
}

.mf-divs a {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: #555555;
    margin-bottom: 12px;
}

.mf-divs a:hover {
    color: deeppink;
    cursor: pointer;
    text-decoration: underline;
}

.mf-header {
    font-weight: 600;
    font-size: 17px;
    letter-spacing: -0.5px;
    color: black;
    text-decoration: none;
    margin-bottom: 40px;
}

#mf-divs-last {
    position: relative;
}

#mf-divs-last a {
    position: absolute;
    right: 0px;
    color: deeppink;
}


footer {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 95%;
    height: 50px;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 300px;
    box-sizing: border-box;
}

footer i {
    font-size: 30px;
}

footer span {
    margin-top: 10px;
}



#ht-signin-text {

}