body {
	overflow-x: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.header-wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 60px;
	border: 1px solid grey;
	border-radius: 5px;
}

.header-title {
	text-align: center;
	font-family: sans-serif;
	width: 120px;
	height: 100%;
	border: 1px solid grey;
}

.header-search {
	display: flex;
	flex-direction: row;
	flex-grow: 0;
	flex-shrink: 0;
	box-sizing: border-box;
	padding-top: 10px;
	padding-left: 10px;
	width: 730px;
	height: 100%;
}


#search-bar-main {
	box-sizing: border-box;
	padding-left: 10px;
	font-size: 18px;
	width: 600px;
	height: 40px;
	border: 1px solid grey;
	border-radius: 5px 0px 0px 5px;
	outline: none;
}

.select-category {
	width: 50px;
	height: 40px;
	margin-right: 10px;
	box-sizing: border-box;
	border: 1px solid grey;
	border-radius: 5px;
}

.select-category {
	box-sizing: border-box;
	padding-left: 5px;
	font-size: 17px;
}

.header-search-button {
	width: 50px;
	font-size: 16px;
	height: 40px;
	border: 1px solid grey;
	border-radius: 0px 5px 5px 0px;
	outline: none;
}

.header-accounts-carts {
	padding-left: 10px;
	box-sizing: border-box;
	width: 400px;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.signin-container {
	position: absolute;
	z-index: 10;
	display: none;
	flex-direction: column;
	margin-top: 10px;
	right: 150px;
	width: 450px;
	height: 300px;
	background-color: lightgray;
	border-radius: 10px;
	border: 1px solid grey;
}

.signin-container-upper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 80px;
	cursor: initial;
	box-sizing: border-box;
	padding-top: 15px;
	padding-left: 110px;
	border-bottom: 1px solid grey;
}

.signin-btn {
	cursor: pointer;
	width: 209px;
	height: 35px;
	font-size: 15px;
	background-color: orange;
	border: 1px solid grey;
	border-radius: 5px;
	outline: none;
}

.signup-link {
	font-size: 12px;
	margin-top: 5px;
	margin-left: 50px;
}

.header-accounts {
	padding-top: 15px;
	padding-left: 10px;
	width: 150px;
	height: 100%;
	cursor: pointer;
	box-sizing: border-box;
	margin-right: 20px;
}

.header-carts {
	display: flex;
	flex-direction: row;
	padding-top: 15px;
	padding-left: 10px;
	width: 150px;
	height: 100%;
	box-sizing: border-box;
	border: 1px solid grey;
}

.header-carts i {
	font-size: 30px;
} 

.header-accounts h3, .header-accounts p, .header-carts h3 {
	font-family: sans-serif;
	font-size: 13px;
	padding: 0px;
	margin: 0px;
}

.header-carts h3 {
	margin-top: 12px;
	font-size: 15px;
}

/*.main-wrapper {
	width: 100%;
	height: 70%;
}*/

.header-others {
	display: flex;
	flex-direction: row;
	width: 270px;
	height: 30px;
	box-sizing: border-box;
	padding-left: 10px;
	border: 1px solid grey;
}

.headers-others-all {
	display: flex;
	flex-direction: row;
	width: 50px;
	height: 100%;
	font-size: 20px;
	font-weight: 600;
	font-family: sans-serif;
	gap: 5px;
	box-sizing: border-box;
	padding-top: 5px;
	line-height: 10px;
}

.headers-others-all span {
	margin-top: 5px;
	font-size: 15px;
	font-weight: 600;
}

.headers-others-sell {
	font-size: 15px;
	font-weight: 600;
	font-family: sans-serif;
	width: 50px;
	height: 100%;
	box-sizing: border-box;
	padding-left: 10px;
	padding-top: 5px;
}
.headers-others-service {
	font-size: 15px;
	font-weight: 600;
	font-family: sans-serif;
	width: 160px;
	height: 100%;
	box-sizing: border-box;
	padding-left: 10px;
	padding-top: 5px;
}

.main-slideshow {
	position: relative;
	width: 100%;
	height: 250px;
	border: 1px solid grey;
}

.main-slide-button-left {
	position: absolute;
	text-align: center;
	box-sizing: border-box;
	padding-top: 70px;
	font-size: 80px;
	left: 0px;
	width: 100px;
	height: 100%;
	border: 1px solid grey;
}

.main-slide-button-right {
	position: absolute;
	text-align: center;
	box-sizing: border-box;
	padding-top: 70px;
	font-size: 80px;
	right: 0px;
	width: 100px;
	height: 100%;
	border: 1px solid grey;
}

.item-main-box {
	width: 100%;
	height: 100vh;
	border: 1px solid grey;
}

.about-zulwin-links {
	font-family: sans-serif;
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	padding-left: 130px;
	padding-right: 30px;
	border: 1px solid grey;
}

.about-zulwin-links div {
	display: flex;
	flex-direction: column;
	gap: 15px;
	box-sizing: border-box;
	padding-left: 80px;
}

.azl-know-us h3, .azl-make-m-wus h3, .Let-us-help h3 {
	font-family: sans-serif;
	margin-bottom: 10px;
} 


.azl-know-us a, .azl-make-m-wus a, .Let-us-help a {
	text-decoration: none;
	color: #555d50;
	font-weight: 600;
	cursor: pointer;
}

.azl-know-us {
	width: 30%;
	height: 100%;
	border: 1px solid grey;
}

.azl-make-m-wus {
	width: 30%;
	height: 100%;
	border: 1px solid grey;
}

.Let-us-help {
	width: 30%;
	height: 100%;
	border: 1px solid grey;
}
