body {
    overflow-x: hidden;
    font-family: sans-serif;
    margin: 0px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 13px;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    border-bottom: 1px solid grey;
    border-radius: 5px;
}

.header-top {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 45px;
    font-size: 13px;
    font-weight: bold;
    box-sizing: border-box;
    padding-top: 13px;
    padding-right: 70px;
    border-bottom: 1px solid grey;
    border-radius: 5px;
    transition: color 0.5s ease;
}

.header-top span:hover {
    cursor: pointer;
    color: #ff6347;
}

.header-bottom {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    width: 100%;
    height: 65px;
    padding-right: 70px;
    padding-top: 13px;
    box-sizing: border-box;
    border: 1px solid grey;
}

.fa-cart-shopping, .fa-heart {
    font-size: 27px;
    padding-top: 5px;
    padding-left: 25px;
}

.search-btn {
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 35px;
    cursor: text;
    outline: none;
    border: 1px solid grey;
    border-radius: 20px;
}

.search-btn-circle {
    text-align: center;
    width: 34px;
    height: 34px;
    padding-top: 7px;
    margin-right: 7px;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 50%;
}

.search-btn-circle:hover {
    cursor: pointer;
    background-color: lightgray;
}

.search-btn span {
    margin-top: 8px;
    font-size: 17px;
    font-weight: bold;
}

.fa-magnifying-glass {
    font-size: 20px;
}

.header-categories {
    display: flex;
    flex-direction: row;
    gap: 35px;
    width: 650px;
    height: 30px;
    padding-top: 2px;
    padding-left: 120px;
    box-sizing: border-box;
    margin-right: 50px;
    margin-top: 10px;
}

.header-categories span {
    font-size: 17px;
    font-weight: bold;
}

.header-top-left {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 200px;
    margin-right: 750px;
    height: 20px;
}

.header-top-left div {
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    border-radius: 50%;
}

.hc-new, .hc-elec, .hc-cloth, .hc-kitch, .hc-oth {
    cursor: pointer;
    position: relative;
}

.hc-new::after, .hc-elec::after, .hc-oth::after, .hc-kitch::after, .hc-cloth::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 3px;
    bottom: -2px;
    left: -2px;
    visibility: hidden;
    background-color: black;
}

.hc-new:hover::after, .hc-elec:hover::after, .hc-oth:hover::after, .hc-kitch:hover::after, .hc-cloth:hover::after {
    visibility: visible;
    width: 105%;
}


.hc-container {
    overflow: hidden;
    width: 100%;
    max-height: 0px;
    transition: max-height 0.2s ease-out;
    background-color: pink;
    padding-left: 200px;
    box-sizing: border-box;
}

.hc-layout1, .hc-layout2, .hc-layout3, .hc-layout4, .hc-layout5 {
    display: none;
    flex-direction: row;
    width: 800px;
    height: 400px;
}

.hc-layout1.active, .hc-layout2.active, .hc-layout3.active, .hc-layout4.active, .hc-layout5.active {
    display: flex;
}

.hc-con {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    padding-top: 30px;
    padding-left: 20px;
    box-sizing: border-box;
}

.hc-con a {
    color: #36454f;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 7px;
}

a:hover {
    color: initial;
}